.tabsContainer {
  display: flex;
  flex-direction: column;
  padding: 0 20px; // 添加邊距使其在小裝置上更具可讀性

  @media (min-width: 768px) { // 平板電腦尺寸
    padding: 0 40px;
  }

  // @media (min-width: 1460px) { // 桌面尺寸
  //   // max-width: 1140px;
  //   margin: auto;
  //   padding: 0; // 在大屏幕上移除邊距
  // }

  .tabs {
    display: flex;
    justify-content: center;
    margin: auto;
    width: 100%;

    // @media (min-width: 1140px) and (max-width: 1399px) {
    //   width: 100%; // 螢幕在這個範圍時，.tabs會隨著螢幕縮小而縮小
    // }
    
    // @media (min-width: 1280px) {
    //   width: 1140px; // 當螢幕大於1280px時，固定.tabs的寬度為1140px
    // }

    button {
      flex: 1;
      
      cursor: pointer;
      background-color: #bbbbbb;
      border: none;
      border-radius: 5px 5px 0 0;
      border-bottom: 2px solid black;
      text-align: center; // 確保文字居中

      @media (max-width: 768px) {
        font-size: 0.8rem;
      }
      @media (max-width: 650px) {
        font-size: 0.7rem;
      }
      @media (max-width: 550px) {
        font-size: 0.6rem;
      }
      @media (max-width: 450px) {
        font-size: 0.53rem;
      }

      &.active {
        background-color: rgb(242, 245, 249);
        border: 2px solid black;
        border-bottom: none;
        border-radius: 5px 5px 0 0;
      }
    }
  }
}
